{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">{{ page.title }}</h1>
        <p class="lead pb-2">  {{ page.hero_text }} </p>
        <p class="lead fw-bold mb-1"> Places </p>
        <ul class="list-unstyled">
            <li><a class="link-offset-2 link-underline link-underline-opacity-25" href="https://capp.uchicago.edu/">uchicago</a> - computational analysis and public policy</li>
            <li><a class="link-offset-2 link-underline link-underline-opacity-25" href="https://mggg.github.io/">mggg</a> redistricting lab </li>
            <li>creighton university - economics and political science</li>
          </ul>
        <p class="lead fw-bold mb-1"> Things </p>
        <ul class="list-unstyled">
            <li><a class="link-offset-2 link-underline link-underline-opacity-25" href="https://github.com/mggg/VoteKit">votekit</a> - a swiss army knife for social choice</li>
            <li><a class="link-offset-2 link-underline link-underline-opacity-25" href="https://civic-lens.org/">civiclens</a> - web app for accessible public commenting</li>
          </ul>
        <div> {{ page.body|richtext }}</div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden rounded-3">
            <img class="rounded-lg-3" src="media/images/JG_headshot.max-800x600.jpg" alt="" width="360">
        </div>
    </div>

{% endblock content %}