{% load navigation_tags %}

<div class="container">

    <footer class="py-3 my-4">
    {% with linkedin_url=settings.base.NavigationSettings.linkedin_url github_url=settings.base.NavigationSettings.github_url bluesky_url=settings.base.NavigationSettings.bluesky_url %}
    {% if linkedin_url or github_url or bluesky_url %}
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        {% if github_url %}
        <li class="nav-item"><a href="{{ github_url }}" class="nav-link px-2 text-body-secondary">GitHub</a></li>
        {% endif %}
        {% if linkedin_url %}
        <li class="nav-item"><a href="{{ linkedin_url }}" class="nav-link px-2 text-body-secondary">LinkedIn</a></li>
        {% endif %}
        {% if bluesky_url %}
        <li class="nav-item"><a href="{{ bluesky_url }}" class="nav-link px-2 text-body-secondary">BlueSky</a></li>
        {% endif %}
      </ul>
    {% endif %}
    {% endwith %}

    <div class="text-center text-body-secondary">{% get_footer_text %}</div>
    </footer>
  </div>