{# Load wagtailuserbar: #}
{% load wagtailcore_tags navigation_tags wagtailuserbar %}

  <header class="p-3 mb-3 border-bottom">
      {% get_site_root as site_root %}
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href='{% pageurl site_root %}' class="nav-link px-2 link-secondary">{{ site_root.title}}</a></li>
          {% for menuitem in site_root.get_children.live.in_menu %}
          <li><a href="{% pageurl menuitem %}" class="nav-link px-2 link-secondary">{{ menuitem.title }}</a></li>{% if not forloop.last %}{% endif %}
          {% endfor %}
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action='/search/' role="search">
          <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} placeholder="Search..." required>
          <input type="submit" value="Search" class="button">
        </form>

      </div>
    
  </header>